[Unit]
Description=TgBot template
After=network.target

[Service]
EnvironmentFile=/etc/environment
ExecStart=/home/bot/venv/bin/python main.py
ExecReload=/home/bot/venv/bin/python main.py
WorkingDirectory=/home/bot/
KillMode=process
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target